guild_id = ''

[main_raiding]
category_id = ''
control_panel_channel_id = ''
leader_role_id = ''
status_channel_id = ''
user_role_id = ''
verification_channel_id = ''
voice_channel_ids = ['', '', '', '', '']

[main_raiding.verification_requirements]
hidden_location = true
minimum_chars = 0
minimum_fame = 0
minimum_rank = 0
verification_message = """
Your verification message here
"""

[veteran_raiding]
category_id = ''
control_panel_channel_id = ''
leader_role_id = ''
status_channel_id = ''
user_role_id = ''
verification_channel_id = ''
voice_channel_ids = ['', '', '', '', '']

[veteran_raiding.verification_requirements]
dungeon_completions = [100, 100, 100, 100, 100, 100]
verification_message = """
Your verification message here
"""
