[general]
ArmorBreak = ""
Curse = ""
Expose = ""
Fame = ""
Knight = ""
MarbleSeal = ""
Paladin = ""
Planewalker = ""
QuiverOfThunder = ""
Samurai = ""
Slow = ""
TomeOfTheMushroomTribes = ""
Trickster = ""
Warrior = ""

[o3]
HelmetRune = ""
OryxSanctuaryPortal = ""
ShieldRune = ""
SwordRune = ""
WineCellarIncantation = ""

[void_cult]
BrainOfTheGolem = ""
LostHallsKey = ""
VialOfPureDarkness = ""

[the_shatters]
LightsOutPuzzle = ""
ShattersKey = ""
ShattersPortal = ""

[the_nest]
TheNestKey = ""
TheNestPortal = ""

[fungal_cavern]
FungalCavernKey = ""
FungalCavernPortal = ""
